@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&family=VT323&display=swap');

* {
    font-family: 'VT323', 'space Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    display: flex;
    gap: 20px;
}

.color-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: aquamarine;
    border: 8px solid aquamarine;
    border-radius: 8px;
    margin-bottom: 40px;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: white;
    flex: 1;
}

.box {
    margin: 0;
    padding: 0;
    background-color: white;
    flex: 1;
    border: 1px solid lightgray;
}

.slider {
    display: flex;
}