@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&family=VT323&display=swap');

* {
    font-family: 'VT323', 'space Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btns {
    display: flex;
    gap: 20px;
}

.color-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: aquamarine;
    border: 2px solid aquamarine;
    border-radius: 6px;
    margin-bottom: 40px;
}